<!-- add_course.html -->
<style>
  .hidden {
    display: none;
  }
</style>
{% extends 'base.html' %} {% block container %}
<div class="card__add-course">
  <div class="card-header">Adauga curs</div>
  <div class="card-body">
    <form method="post" action="{% url 'add_course' class_id %}">
      {% csrf_token %} {% for field in form %}
      <div
        class="form-group {% if field.name == 'my_class' %}hidden{% endif %}"
      >
        {{field}}
      </div>
      {% endfor %}
      <br />
      <button type="submit" class="btn btn-primary btn-sm">Adauga</button>
      <a class="btn btn-primary btn-sm" href="{% url 'course_list' class_id %}"
        >Inapoi</a
      >
    </form>
  </div>
</div>
{% endblock %}
