<!-- templates/class_list.html -->
{% extends 'base.html' %} {% block container %}
<div class="classes__classlist">
  <h2>Classes</h2>
  <ul>
    {% for my_class in classes %}
    <li>
      <a href="{% url 'course_list' class_id=my_class.id %}"
        >{{ my_class.name }}</a
      >
    </li>
    <form method="post" action="{% url 'delete_class' class_id=my_class.id %}">
      {% csrf_token %}
      <button type="submit">Delete Class</button>
    </form>
    {% endfor %}
  </ul>
</div>

<a href="{% url 'add_class' %}">Add New Class</a>
{% endblock %}
