<!-- templates/contact.html -->

{% extends 'base.html' %} {% block container %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <!-- Teacher Image -->
      <img
        src="teacher_adrian_munteanu.jpg"
        alt="Munteanu Adrian"
        class="img-fluid rounded-circle"
      />
    </div>
    <div class="col-md-8">
      <!-- Teacher Information -->
      <h2>Munteanu Adrian</h2>
      <p>
        Welcome to my contact page! If you need any assistance or have
        questions, feel free to reach out to me. I'm here to help!
      </p>
      <ul>
        <li><strong>Email:</strong> adrian.munteanu@example.com</li>
        <li><strong>Phone:</strong> +123 456 7890</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
