{% extends 'base.html' %} {% block container %}
<style>
  .course__container {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  .delete-form {
    margin-right: 10px;
  }

  .course__item {
    list-style-type: none;
  }
</style>

<div class="classes__courselist">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'class_list' %}">Classes</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ class_name }}
      </li>
    </ol>
  </nav>
  <h3>Courses</h3>
  <ul>
    {% for course in courses %}
    <div class="course__container">
      <li class="course__item">
        <a
          href="{% url 'pdf_list' class_id=course.my_class.id course_id=course.id %}"
          >{{ course.title }}</a
        >
      </li>
      <form
        method="post"
        action="{% url 'delete_course' class_id=class_id course_id=course.id %}"
        class="delete-form"
      >
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary btn-sm">
          Delete
        </button>
      </form>
    </div>
    {% endfor %}
  </ul>
</div>
<form method="get" action="{% url 'add_course' class_id=class_id %}">
  <button type="submit" class="btn btn-primary btn-sm">Add New Course</button>
</form>
{% endblock %}
