{% extends 'base.html' %} {% block container %}
<div class="classes__pdflist">
  <h2>PDF Files</h2>
  <ul>
    {% for pdf_file in pdf_files %}
    <li>
      <a href="{{ pdf_file.file.url }}" target="_blank">{{ pdf_file.title }}</a>
    </li>
    <form
      method="post"
      action="{% url 'delete_pdf_file' class_id=class_id course_id=course_id pdf_id=pdf_file.id %}"
    >
      {% csrf_token %}
      <button type="submit">Remove PDF</button>
    </form>
    {% endfor %}
  </ul>

  <h2>Upload PDF File</h2>
  <p>
    <a href="{% url 'upload_pdf_file' class_id=class_id course_id=course_id %}"
      >Upload a PDF file</a
    >
  </p>
</div>
{% endblock %}
