<!-- templates/upload_pdf_file.html -->
<style>
  .hidden {
    display: none;
  }
</style>
{% extends 'base.html' %} {% block container %}
<div class="card__upload-pdf">
  <div class="card-header">Incarca PDF</div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {% for field in form %}
      <div class="form-group {% if field.name == 'course' %}hidden{% endif %}">
        {{field}}
      </div>
      {% endfor %}
      <br />
      <button type="submit" class="btn btn-primary btn-sm">Incarca</button>
      <a
        class="btn btn-primary btn-sm"
        href="{% url 'pdf_list' class_id course_id %}"
        >Inapoi</a
      >
    </form>
  </div>
</div>
{% endblock %}
